@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: none;
    text-decoration: none;
}

body {
    background-color: #ebb400;
}

nav {
    display: flex;
    height: 60px;
    width: 100%;
    background: black;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 60px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
}


/* nav .logo {
    width: 20px;
    height: 20px;
} */

nav .heading img {
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

nav .heading a {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-left: 10;
    padding-left: 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #111;
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.dropdown {
    float: center;
    overflow: hidden;
}

.dropdown .dropbtn {
    color: white;
    font-size: 18.5px;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    background: black;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: center;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 80vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.5s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        /* transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
    .dropdown .dropbtn,
    .dropdown-content {
        background: rgb(15, 15, 15);
    }
    .dropdown-content {
        width: 100%;
    }
    .dropdown-content a {
        text-align: center;
        font-size: 15px;
    }
    .dropdown-content a:hover {
        background-color: black;
        color: cyan;
    }
}

@media(max-width:480px) {
    nav {
        padding: 0 10px 0 10px;
    }
    nav .heading a {
        font-size: 15px;
        font-weight: 300;
    }
    nav .heading img {
        width: 25px;
        height: 25px;
        margin-right: 20px;
    }
}

.cards_wrap {
    padding: 80px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards_wrap .card_item {
    padding: 35px 25px;
    width: 25%;
}

.cards_wrap .card_inner {
    background: black;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 315px;
    box-shadow: 1px 5px 5px 3px rgb(24, 23, 23);
}

.cards_wrap .card_inner .image {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.cards_wrap .card_inner img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid black;
}

.cards_wrap .card_inner .role_name {
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.cards_wrap .card_inner .place_name {
    color: #909090;
    font-size: 15px;
    font-weight: 200;
    margin: 10px 0px 10px;
    text-align: center;
}

.cards_wrap .card_inner .btn {
    width: 60%;
    height: 40px;
    background-color: #a19f9f;
    border-radius: 15px;
    color: black;
    font-size: 13px;
    font-weight: 600;
    margin: auto;
    display: block;
    margin-top: 25px;
}

.cards_wrap .card_inner .btn:hover {
    border: 3px solid white;
    background-color: black;
    color: white;
}

@media (max-width:568px) {
    .cards_wrap {
        padding: 20px 20px;
    }
    .cards_wrap .card_item {
        width: 100%;
    }
    .wrapper .header {
        font-size: 14px;
        height: 60px;
    }
}

@media (min-width:568px) and (max-width:820px) {
    .cards_wrap {
        padding: 20px 20px;
    }
    .cards_wrap .card_item {
        width: 50%;
    }
    .wrapper .header {
        font-size: 16px;
        height: 60px;
    }
}

@media (min-width:820px) and (max-width:1200px) {
    .cards_wrap .card_item {
        width: 33%;
    }
}


/* footer */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background: #111;
}

footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,
a {
    color: #fff;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}

footer .content p {
    text-align: justify;
}

footer .content .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content .middle {
    padding-left: 80px;
    margin-right: 50px;
}

footer .content .middle a {
    line-height: 32px;
}

footer .content .right input[type="email"],
footer .content .right textarea {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

footer .content .right textarea {
    height: 100px;
}

footer .content .right input[type="email"]:hover,
footer .content .right textarea:hover {
    border-color: #a19f9f;
}

footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: black;
    font-weight: 700;
    background: #a19f9f;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #a19f9f;
    transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
    background: none;
    color: #a19f9f;
}

footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}

.content .media-icons a:hover {
    border-color: #a19f9f;
}

footer .bottom {
    width: 100%;
    text-align: right;
    color: white;
    padding: 20px 40px 5px 0;
}

footer .bottom a {
    color: #a19f9f;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: #a19f9f;
}

@media (max-width:610px) {
    footer {
        position: relative;
    }
    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }
    footer .content .middle {
        padding-left: 0;
    }
}

@media (min-width:610px)and(max-width:950px) {
    footer .content .box {
        width: 50%;
    }
    .content .right {
        margin-top: 40px;
    }
}

@media(min-width:950px)and (max-width:1150px) {
    footer .content .middle {
        padding-left: 50px;
    }
}