{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/memberArea.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <nav>
                <div class="logo">WAGGIN' TAILS</div>
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                  <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a href="1MainPageWT.html">Home</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Chat</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Profile<i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                                <a href="petSettings">Edit pet profile</a>
                                <a href="ownerSettings">User profile</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="cards_wrap">
        {% for i in dogs %}
            <div class="card_item">
                <div class="card_inner">
                    <div><img class="image" src="{{i.dog_pfp.url}}"></div>
                    <div class="role_name">{{i.dog_name}}</div>
                    <div class="place_name">{{i.dog_city}}<span>, {{i.dog_state}}</span></div>
                    <div class="button">
                        <button class="btn">SEND REQUEST</button>
                    </div>
                </div>
            </div>
        {% endfor %}
            {% comment %} <div class="card_item">
                <div class="card_inner">
                    <div><img class="image" src="{% static 'dog4.jpg' %}"></div>
                    <div class="role_name">SECOND DOG</div>
                    <div class="place_name">JAIPUR , RAJASTHAN</div>
                    <div class="button">
                        <button class="btn">SEND REQUEST</button>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div><img class="image" src="{% static 'dog6.jpg' %%}"></div>
                    <div class="role_name">THIRD DOG</div>
                    <div class="place_name">NOIDA , UTTAR PRADESH</div>
                    <div class="button">
                        <button class="btn">SEND REQUEST</button>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div><img class="image" src="{% static 'dog14.jpg' %}"></div>
                    <div class="role_name">FOURTH DOG</div>
                    <div class="place_name">GHAZIABAD , UTTAR PRADESH</div>
                    <div class="button">
                        <button class="btn">SEND REQUEST</button>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div><img class="image" src="{% static 'dog14.jpg' %}"></div>
                    <div class="role_name">FIRST DOG</div>
                    <div class="place_name">GURGAON , UTTAR PRADESH</div>
                    <div class="button">
                        <button class="btn">SEND REQUEST</button>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div><img class="image" src="{% static 'dog4.jpg' %}"></div>
                    <div class="role_name">SECOND DOG</div>
                    <div class="place_name">JAIPUR , RAJASTHAN</div>
                    <div class="button">
                        <button class="btn">SEND REQUEST</button>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div><img class="image" src="{% static 'dog6.jpg' %}"></div>
                    <div class="role_name">THIRD DOG</div>
                    <div class="place_name">NOIDA , UTTAR PRADESH</div>
                    <div class="button">
                        <button class="btn">SEND REQUEST</button>
                    </div>
                </div>
            </div>
            <div class="card_item">
                <div class="card_inner">
                    <div><img class="image" src="{% static 'dog14.jpg' %}"></div>
                    <div class="role_name">FOURTH DOG</div>
                    <div class="place_name">GHAZIABAD , UTTAR PRADESH</div>
                    <div class="button">
                        <button class="btn">SEND REQUEST</button>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <footer>
            <div class="content">
                <div class="left">
                    <div class="upper">
                        <div class="topic">Waggin' Tails</div>
                        <p> A playdate matching site for your pet </p>
                    </div>
                    <div class="lower">
                        <div class="topic">Contact us</div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <div class="topic">Our Services</div>
                    <div><a href="#">HOME</a></div>
                    <div><a href="#">PET'S VOLUNTEER</a></div>
                </div>
                <div class="right">
                    <div class="topic">Feedback Form</div>
                    <form action="#">
                    {% csrf_token %}
                        <div id="box"><input type="email" placeholder="Enter email address"></div>
                        <div id="box"></div><textarea required name="myText" placeholder="Type discription of your pet here" cols="60" rows="5"></textarea>
                        <div>

                            <input type="submit" name="" value="Send">
                    </form>
                    </div>
                </div>
                <div class="bottom">
                    <p>Copyright © 2021 <a href="#">Waggin'Tails</a> All rights reserved</p>
                </div>
        </footer>

</body>

</html>
